* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }
  
  .container12 {
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 90;
    top: 0;
    overflow: hidden;
    max-width: 1550vw;
    width: 100%;
  }
  
  .nav-bar {
    max-width: 1550vw;
    width: 100%;
    text-decoration: none;
    background: var(--PrimaryColor, #2F7ABF);
    display: flex;
    height: 108px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: 10px;
    border-radius: 0px 0px 30px 30px;
    padding-left: 50px;
  }
  
  .cart22 {
    height: 25px;
    width: 25px;
    line-height: normal;
    background-color: floralwhite;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0px 50px 40px 0px;
  }
  
  .icon {
    margin-left: 0px;
    margin-right: 70px;
    width: 45px;
    height: 45px;
    font-size: 50px;
  }
  
  .li {
    color: var(--White, #ECECEC);
    font-family: Inter;
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: none;
    margin-left: 20px;
  }
  .li1 {
    color: var(--White, #ECECEC);
    font-family: Inter;
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: none;
    margin-left: 20px;
    height: 100%;
  }
  .nav-bar1 {
    margin-top: 70px;
    margin-left: 500px;
    max-width: 1550vw;
    text-decoration: none;
    background: var(--PrimaryColor, #6e7982);
    display: flex;
    max-height: 308px;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;
    position: fixed;
  }
  .active li {
    color: black;
  }

@media only screen and (max-width: 500px) {
    .nav-bar {
      display: none;
    }
    .slidebar {
      display: flex;
      flex-direction: column;
    }
  
    .slidebar .hamicon {
      display: none;
    }
  
    .hamicon {
     margin-left:10px;
      display: flex;
      justify-content: flex-start;
      
    }
  }
  
  .ham {

    cursor: pointer;
    display: flex;

    justify-content: flex-start;
    /* background: var(--PrimaryColor, #6e7982); */
  }
  